<p style="color: green"><%= notice %></p>

<h1>Stations</h1>

<div id="stations">
<%= render partial: 'shared/objects_list', locals: {objects: @stations} %>

</div>

<%= link_to "New station", new_station_path %>
