<%= bootstrap_form_with(model: [:admin, station]) do |form| %>

  <div>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.submit t('.submit', action: params[:action] == 'new' ? 'Створити' : 'Оновити') %>
  </div>
<% end %>
