<p style="color: green"><%= notice %></p>

<h1><%= t('.title') %></h1>

<div id="stations">
<%= render partial: 'shared/objects_list', locals: { objects: @stations, attribute: :title, link_word: 'stations' } %>

</div>

<%= link_to t('common.create'), new_admin_station_path, class: 'btn btn-outline-primary' %>
