.form {
  width: 350px;
}

.footer {
  background-color: rgb(226, 216, 216);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  bottom: 0;
  position: fixed;
}

.station-time, .rails-bootstrap-forms-time-select {
  display: flex;
  flex-direction: row;
}

.data-cell {
  padding: 5px;
}

.objext-list-cell {
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: center;
}

.object-list-row {
  display: flex;
}

.cell-text {
  min-width: 100px;
  display: flex;
  justify-content: center;
}

#economy-and-coupe-class-seats, #economy-class-seats, #seated-class-seats, #not-sleeping-class-seats {
  display: none;
}

.cancel-button {
  margin-left: 10px;
  display: none;
}
