.form {
    width: 350px;
}

.footer {
    background-color: rgb(226, 216, 216);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    bottom: 0;
    position: fixed;
}

.station-time, .rails-bootstrap-forms-time-select {
  display: flex;
  flex-direction: row;
}

.data-cell {
  padding: 5px;
}
