<p style="color: green"><%= notice %></p>

<h1>Trains</h1>

<div id="trains">
<%= render partial: 'shared/objects_list', locals: {objects: @trains} %>
</div>

<%= link_to "New train", new_admin_train_path %>
